//шрифты
@font-face {font-family: 'Roboto';src: url('../../fonts/Roboto-Regular.ttf') format('truetype');font-weight: normal;font-style: normal;}

// Цвета
$color-main-fon: #C4C4C4;
$color-liveItem-fon: #E3E3E3;
$color-liveItem-fon__hover: #65CDF9;
$color-saveItem-fon: #E27BEB;


// Рамки


